[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
character-set-server=utf8
max_connections=800
default_authentication_plugin = mysql_native_password

thread_handling=pool-of-threads

#gtid repl
gtid_mode=on
enforce_gtid_consistency=on

innodb_buffer_pool_size=512M
innodb_file_per_table=1
innodb_read_io_threads = 16
innodb_write_io_threads = 16
transaction_isolation = READ-COMMITTED
innodb_flush_method = O_DIRECT
innodb_log_file_size = 128M
innodb_log_files_in_group = 2

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

#log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

!includedir /etc/my.cnf.d